/* highlight.css */

/*
** 게시글 목록 블루색상 키프레임 애니메이션
#article-list > #article-list-row-3109331,
#article-list > #article-list-row-3137467,
#article-list > #article-list-row-3181863,
#article-list > #article-list-row-3618934
{ Animation: infinite AnimFeed 2s; }
*/

/*
** 인기글 색상 키프레임 애니메이션
#article-list > #article-list-row-3245130 span.a-badge i.fa.fa-star,
#article-list > #article-list-row-3365667 span.a-badge i.fa.fa-star {
    animation: infinite rainbowLink 1s;
}
*/

/* maejaeng.css */


/* 매쟁 */
/*
#article-list > #article-list-row-3065840 > .item > .list-title > .list-writer > span img, 
#article-list > #article-list-row-2820544 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2391750 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2221544 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2162224 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2085705 > .item > .list-title > .list-writer > span img 
{ opacity: 0; }
#article-list > #article-list-row-3065840 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2820544 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2391750 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2221544 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2162224 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2085705 > .item > .list-title > .list-writer.logged
 { 
    background-repeat: no-repeat; 
    display: block; 
    height: 18px;
    background-image: url("maejaengtgd.github.io/image/maejaeng18.png");
    background-position: 30px -2px;
}
*/

/* 3105761 매쟁이 컴퓨터사양*/
/* 3105775 트게더룰 */
/* 3054503 공지 */

/*
** 버튼 마우스 올리면 버튼 리사이징
.btn-outline-success:hover {
    animation: infinite btnSizing 0.4s;
}
@keyframes btnSizing {
    0% { width: 83px; }
    50% { width: 120px; }
    100% { width: 83px; }
}
*/


/*
#article-list > .article-list-row > .item > .list-title > a:after {
    content: "고여"
}
*/
#board-info #viewers-area #viewers:after {
    animation: infinite goyu 4s;
}
@keyframes goyu {
    0% {content: "명 고";}
    5% {content: "명 고여";}
    10% {content: "명 고여있";}
    15% {content: "명 고여있는";}
    20% {content: "명 고여있는중";}
    25% {content: "명 고여있었음";}
    30% {content: "명 고여있었";}
    60% {content: "명 고이는중";}
    100% {content: "명  ";}
}
