body {
background-image: url('https://i.imgur.com/c4OfFnf.png');
background-repeat: no-repeat;
background-position: center -5px;
}

header .row>div:nth-child(1)>a {
float: left;
position: absolute;
background:url('https://upload.tgd.kr/20181120/f9e35836e2de6890727e74f8565d9173.png') no-repeat;
background-size: cover;
display: block
width: 150px;
height: 55px;
}

header .row>div:nth-child(1)>a img {
display: none;
}


@font-face{font-family: 'Triglavian';src: url('https://funzinnu.com/cdn/Triglavian-Regular.ttf') format('truetype');}

#board-info>h1>a:after{
content:"";
}

/*인기글색*/
#article-list>.article-list-row.hot{background-color:#f1eaff;}
#article-list>.article-list-row.hot>.item>.list-header>strong,
#article-list>.article-list-row.hot>.item>.list-header>b{color:#6441a5;}

/*공지숨기기버튼*/
#article-list #article-option-area>#article-option-area-toggle-btn{background:rgba(255,255,255,0);color:rgba(255,255,255,.85);opacity:1;}
#article-option-area-toggle-btn>.fa-eye:before{content:"";text-shadow:0px 0px 6px #131d27, 1px 0px 2px #131d27, 0px 1px 2px #131d27, 1px 1px 2px #131d27, -1px 0px 2px #131d27, 0px -1px 2px #131d27, -1px -1px 2px #131d27;}

/*댓글 레이아웃 재배치*/
#article-reply-area #reply-real-area .reply > .rereply-btn, #article-reply-area #reply-best-area .reply>.rereply-btn{
transform:rotateX(180deg) scale(.8);
left:-1.2em;
color:#cccccc;
}
#article-reply-area #reply-real-area .reply.d-1, #article-reply-area #reply-best-area .reply.d-1{margin-left:1.3em;}
#article-reply-area #reply-real-area .reply.d-2, #article-reply-area #reply-best-area .reply.d-2{margin-left:2.6em;}
#article-reply-area #reply-real-area .reply.d-3, #article-reply-area #reply-best-area .reply.d-3{margin-left:3.9em;}
#article-reply-area #reply-real-area .reply.d-4, #article-reply-area #reply-best-area .reply.d-4{margin-left:4.2em;}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer-image, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer-image{
border-radius:100%;
}
#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header{padding:0.3em 0.4em 0.3em 0.3em;}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu, #article-reply-area #reply-best-area .reply>.reply-header>.reply-menu{letter-spacing:-.2px;}

/*댓글추천 아이콘*/
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > .comment-vote-btn, 
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > .comment-vote-btn,
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > .comment-vote-btn > .like > .fa-thumbs-up, 
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > .comment-vote-btn > .like > .fa-thumbs-up{
font-size:0;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > .comment-vote-btn > .like, 
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > .comment-vote-btn > .like{
font-size:13px;
}
#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu > .comment-vote-btn:before, 
#article-reply-area #reply-best-area .reply > .reply-header > .reply-menu > .comment-vote-btn:before{
content: "";
font:normal normal normal 13px/1 FontAwesome;
text-rendering:auto;
-webkit-font-smoothing:antialiased;
}

/*글쓴이 님 제거*/
#article-info>#article-info-writer{font-size:0;}
#article-info>#article-info-writer>strong{font-size:12px;}
#article-info>#article-info-writer>small{font-size:11px;padding:0 .5em;}




html, body{background-color:#cdd9e4;height:auto;}
header{background-color:#131d27;margin-bottom:15px;min-width:1100px;}
header #header-bar{margin-top:3px;margin-bottom:-6px;}
footer{background-color:#131d27;margin-top:1em;min-width:1100px;}
footer .container{color:#999999;}
#board-info #board-info-profile-img{display:none;}

#board-info h1>a:first-child:before{content:' ';font-family:FontAwesome;}
#board-info h1>a:first-child:after{content:' 게시판 홈';}
#board-info h1>a{padding:2px;}

#board-info h1>a.badge.badge-live{font-size:0px;padding:2px 20px;}
#board-info h1>a.badge.badge-live:after{font-size:12px;content:'현재 생방송 중';}


#board-info h1>.badge-success{display:none;}
#article-reply-area #reply-best-area div.reply-content{background:#f1eaff;}


#article-reply-area > .header h5,#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged{color:#3b9acb;}

#main #main-content>div.frame{
	border:0px;
}
#article-list{
	padding: 0em;
	margin-top: 19px;
}
#article-list #article-list-menu>.btn.best{
	margin-left: 1em;
}
#article-list #article-list-menu>.btn.write{
	margin-right: 1em;
}
#article-list>.article-list-row{
	border-right: 0px;
	background-color: #ffffff;
}
#article-content-wrapper,#article-reply-area{
background:rgba(255,255,255,.8);
}

#article-list>.article-list-row:first-of-type{
border-top:2px solid #8c49ff;
}
#article-list>.article-list-row>.item>.list-header{
	border-left:0px;

}
#article-list>.article-list-row>.item>.list-header>span{
background-color:rgba(0,0,0,0);
color:#6441a5;
font-size:11.5px;
border:0px solid #666666;
font-family:sans-serif;
}
#article-list>.article-list-row>.item>.list-header>span:before{
content:"\f0d8";
font:normal normal normal 8px FontAwesome;
padding-right: 4px;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count,
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span,
#article-reply-area > .header h5,
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged{
color:#6441a5;
font-weight:normal;
}

/*공지글은fff*/
#article-list>.notice>.item>.list-title>a{color:#ffffff}
#article-list>.notice>.item>.list-title>small.comment-count{color:#cccccc}

#article-list>.article-list-row.notice{
background-color:#2d4053;
}
#article-list>.article-list-row>.item>.list-header>strong{
color:#eeeeee;
}

.col-xs-8 img{
opacity:0;
width:231px;
height:62px;
}
#board-info{
border-top:3px solid #8d48fc;
height:67px;
overflow:inherit;
padding: 5px 0px 0px 8px;
margin: 0;
height: 0;
}


header #right-search-form>#right-search-btn{
color:#8c49ff;
}
header #right-search-form>input[type=text]{
border-color:#8c49ff;
}

header #header-bar #header-top-notice,
header #header-bar a.dropdown-toggle,
header #header-bar #header-top-notice a{
background-image:none;
color:#ffffff;
animation:boodrerum .5s;
}


header #header-bar>.row,#main .menu-wrapper{
border-bottom:0px;
border-right:0px;
border-top:3px solid #8d48fc;
}
header #header-bar>.row{
background-color:rgba(0,0,0,0);
padding-top:0em;
padding-bottom:0em;
border-top:2px solid #2d4053;
}


#main .menu-wrapper>.header{
background:#2d4053;
}

#main .menu-wrapper>a>em,#main .menu-wrapper>a>i.fa.fa-square{
color:#cccccc;
}




/*광고양옆 짝대기*/
header #header-bar #header-menu-left, header #header-bar #header-menu-right{border: 0px;}
/*광고뱃지*/
header #header-bar #header-top-notice strong.notice-badge{display:none;}
/*게시판순위*/
#board-info h1,#board-info h1>a{
	float: left;
	font-size: 12px;
	border: 0;
	color: #6441a5;
	padding-right: 5px;
}


span.a-badge i.fa.fa-info-circle{
color:#8d48fc;
}

#article-list>.notice>.item>.list-time, #article-list>.notice>.item>.list-title>.list-writer.logged>span{
color:#ffffff;
}


/*배지제거*/
#article-list>.article-list-row>.item>.list-title>.list-writer>span>img,
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged>img,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged>img,
#article-info #article-info-writer>img{display:none;}


/*유동닉색*/
#article-list>.article-list-row>.item>.list-title>.list-writer>span{color:#6441a5;}



.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	background-color:#6441a5;
	border-color:#6441a5;
}
.pagination>li>a, .pagination>li>span, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
	color:#6441a5;
}

#main .menu-wrapper .spacer{
	background:rgba(73, 191, 252, 0.15);
}
.img-circle{
	border-radius:20%;
}

#article-info{
	background:rgb(19, 29, 39);
	margin-top: 11px;
	color: #ffffff;
	padding: 1em 1em 0em;
        clear:both;

}
#article-content-wrapper{
	padding: 0 0 1em;
}
#article-content-wrapper>.header{
	border-top:0px solid #8d48fc;
margin-bottom:20px;
}
#article-info,
#board-info,
#article-content-wrapper #article-content{
	animation-delay: .4s;
}
#article-list #article-list-category{
	border-top: 0px;
	background-color: #131d27;
	clear: both;
        font:normal normal normal 14px/1 FontAwesome;
}
#article-list>.article-list-row>.item>.list-title>.list-category{
        font:normal normal normal 14px/1 FontAwesome;
}
#article-list #article-list-category>a,
#article-list #article-list-category>a.active,
#article-list #article-list-category>a:hover{
	background-color: #131d27;
	font-weight:normal;
}

#board-info #board-info-bottom{
	padding: 0;
}

#board-info #board-info-bottom #goClipBtn i:before{
	content: "\f008  하이라이트 ";
	font-family:'FontAwesome', sans-serif;
}
#board-info #board-info-bottom a{
	color: #6441a5;
	border:0px;
}
#board-info #board-info-bottom #addFavoriteBtn{
	padding-left: 7px!important;
}
#board-info #board-info-bottom #addFavoriteBtn i{
	color: #6441a5;
}
#article-list-row-2168247,#article-list-row-2168247:hover{
	background-image:url(https://puu.sh/z1Bp1/b0107a2714.png)!important;
	background-position: 48% 50%!important;
}
#article-list-row-2728777,#article-list-row-2728777:hover{
	background-image:url(https://puu.sh/zh0gv/c1de65ea75.png)!important;
	background-position: 48% 50%!important;
}
#article-list-row-7496282,#article-list-row-7496282:hover{
background-image:url(http://puu.sh/Bf33Q/05f5898525.gif)!important;
background-repeat: repeat-x!important;
background-color:#040204!important;
}

#article-list-row-1360944>.item>.list-title>a,#article-list-row-1360944>.item>.list-title>a:hover{
animation:blink 1s infinite alternate;
}

#article-list>.notice>.item>.list-checkbox,#article-list>.notice>.item>.list-header,#article-list>…
