/* 피드 게시글 목록 */
/* [a]에 ,#article-lists > #article-list-row-[트게더글번호] 추가 기재해서 사용 */



/* 인기게시글 별 투명도 0, 백그라운드 이미지 호출, 트랜스폼 애님 */
span.a-badge i.fa.fa-star { opacity: 100; color:rgba(0,0,0,0); 
    vertical-align: 2px !important;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background:url("https://blindeyeblitz.github.io/image/star18.png");
    animation: infinite rot360 1.2s;
}

** 글쓴이 닉네임 컬러
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color : #131d27;
}

#article-list > .article-list-row > .item > .list-title > small {
    color : #131d27;
}

#article-list-menu > ul > li:nth-child > a {
    color : #ff7070;
}

#article-list > .article-list-row > div > div.list-title > a {
    color : #ff7070;
}

@keyframes maegether {
    0% { color: #ce7171; }
    40% { color: #ff6060; }
    100% { color: #ce7171; }
}

@keyframes AnimFeed {
    0% { background-color: #ffffff; }
    40% { background-color: #ffb5b5; }
    100% { background-color: #ffffff; }
}

@keyframes rot360 { from { transform: rotate(360deg);} to { transform: rotate(0deg);} }


/*
#content-area, 
body, 
footer 
{ background: #fff !important; }
#main .menu-wrapper>.header, 
#main .menu-wrapper>.header>a		
{	color: #eee !important; }
.pagination>.active>a, { display:none; }
.pagination>.active>a:focus, { display:none; }
.pagination>.active>a:hover { display:none; }
{	
    border-color: #ddd !important; 
    color: #ddd !important; 
    background-color: #ffd3d3 !important;
}
.pagination>.active>span, { display:none; }
.pagination>.active>span:focus, { display:none; }
.pagination>.active>span:hover { display:none; }
{	
    background-color: #ffd3d3 !important;
    border-color: #ffd3d3 !important; 
}
*/

#article-list > #article-list-row-6683471 > .item > .list-title > .list-writer > span img, 
#article-list > #article-list-row-6833168 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-6745281 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-6824947 > .item > .list-title > .list-writer > span img, 
#article-list > #article-list-row-7049465 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-7142279 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-7145346 > .item > .list-title > .list-writer > span img 
{ opacity: 0; }
#article-list > #article-list-row-6683471 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-6833168 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-6745281 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-6824947 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-7049465 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-7142279 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-7145346 > .item > .list-title > .list-writer.logged
 { 
    background-repeat: no-repeat; 
    display: block; 
    height: 18px;
    background-image: url("https://blindeyeblitz.github.io/image/blindeyeblitz.png");
    background-position: 15px 0px;
}

#article-content-wrapper > div.vote-area > button.btn.btn-outline-primary.vote-btn {display:none;}

#article-reply-area > .reply-header > .reply-menu > span.time { color: #131d27 !important }
#article-reply-area > .reply-header > .reply-writer.logged { color: #131d27 !important }
#article-reply-area > .reply-header > .reply-menu > a:nth-child(1) { color: #131d27 !important }
#article-reply-area > .reply-header > .reply-menu > a:nth-child(3) { color: #131d27 !important }
#article-reply-area > .reply-header > .reply-menu > a.re-reply-btn { color: #131d27 !important }
#article-reply-area > .reply-header > .reply-menu > a.comment-vote-btn > span { color: #131d27 !important }

#article-info-writer { color: #ffffff !important }
#article-info > h2 { color: #ffffff !important }
#article-content-wrapper { background-color: #ffffff !important }

#board-info-bottom > a:nth-child(3) {display:none;}
