#article-list-row-6576683 > div > div.list-header.v0 { background-color: #ac89ff !important; }
#article-list-row-6576683 > div > div.list-header.v1 { background-color: #ac89ff !important; }
#article-list-row-6576683 > div > div.list-header.v2 { background-color: #ac89ff !important; }
#article-list-row-6576683 > div > div.list-time { background-color: #ac89ff; color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-title { background-color: #c0a5ff !important; }
#article-list-row-6576683 > div > div.list-title > a { color: #ac89ff !important; }
#article-list-row-6576683 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3105775 > div > div.list-header.v0 { background-color: #ac89ff !important; }
#article-list-row-3105775 > div > div.list-header.v1 { background-color: #ac89ff !important; }
#article-list-row-3105775 > div > div.list-header.v2 { background-color: #ac89ff !important; }
#article-list-row-3105775 > div > div.list-time { background-color: #ac89ff; color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-title { background-color: #c0a5ff !important; }
#article-list-row-3105775 > div > div.list-title > a { color: #ac89ff !important; }
#article-list-row-3105775 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3105761 > div > div.list-header.v0 { background-color: #ac89ff !important; }
#article-list-row-3105761 > div > div.list-header.v1 { background-color: #ac89ff !important; }
#article-list-row-3105761 > div > div.list-header.v2 { background-color: #ac89ff !important; }
#article-list-row-3105761 > div > div.list-time { background-color: #ac89ff; color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-title { background-color: #c0a5ff !important; }
#article-list-row-3105761 > div > div.list-title > a { color: #ac89ff !important; }
#article-list-row-3105761 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3054503 > div > div.list-header.v0 { background-color: #ac89ff !important; }
#article-list-row-3054503 > div > div.list-header.v1 { background-color: #ac89ff !important; }
#article-list-row-3054503 > div > div.list-header.v2 { background-color: #ac89ff !important; }
#article-list-row-3054503 > div > div.list-time { background-color: #ac89ff; color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-title { background-color: #c0a5ff !important; }
#article-list-row-3054503 > div > div.list-title > a { color: #c0a5ff !important; }
#article-list-row-3054503 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3048548 > div > div.list-header.v0 { background-color: #ac89ff !important; }
#article-list-row-3048548 > div > div.list-header.v1 { background-color: #ac89ff !important; }
#article-list-row-3048548 > div > div.list-header.v2 { background-color: #ac89ff !important; }
#article-list-row-3048548 > div > div.list-time { background-color: #ac89ff; color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-title { background-color: #c0a5ff !important; }
#article-list-row-3048548 > div > div.list-title > a { color: #ac89ff !important; }
#article-list-row-3048548 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-header.v2 > strong { color: #ffffff !important; }
