#article-list-row-6576683 > div > div.list-header.v0 { background-color: #ff7070 !important; }
#article-list-row-6576683 > div > div.list-header.v1 { background-color: #ff7070 !important; }
#article-list-row-6576683 > div > div.list-header.v2 { background-color: #ff7070 !important; }
#article-list-row-6576683 > div > div.list-time { background-color: #ff7070 !important; }
#article-list-row-6576683 > div > div.list-title { background-color: #ffb3a4 !important; }

#article-list-row-3105775 > div > div.list-header.v0 { background-color: #ffa670 !important; }
#article-list-row-3105775 > div > div.list-header.v1 { background-color: #ffa670 !important; }
#article-list-row-3105775 > div > div.list-header.v2 { background-color: #ffa670 !important; }
#article-list-row-3105775 > div > div.list-time { background-color: #ffa670 !important; }
#article-list-row-3105775 > div > div.list-title { background-color: #ffd8a5 !important; }

#article-list-row-3105761 > div > div.list-header.v0 { background-color: #ffdb70 !important; }
#article-list-row-3105761 > div > div.list-header.v1 { background-color: #ffdb70 !important; }
#article-list-row-3105761 > div > div.list-header.v2 { background-color: #ffdb70 !important; }
#article-list-row-3105761 > div > div.list-time { background-color: #ffdb70 !important; }
#article-list-row-3105761 > div > div.list-title { background-color: #fff6b2 !important; }

#article-list-row-3054503 > div > div.list-header.v0 { background-color: #d1ff70 !important; }
#article-list-row-3054503 > div > div.list-header.v1 { background-color: #d1ff70 !important; }
#article-list-row-3054503 > div > div.list-header.v2 { background-color: #d1ff70 !important; }
#article-list-row-3054503 > div > div.list-time { background-color: #d1ff70 !important; }
#article-list-row-3054503 > div > div.list-title { background-color: #e5ffbf !important; }

#article-list-row-3048548 > div > div.list-header.v0 { background-color: #709fff !important; }
#article-list-row-3048548 > div > div.list-header.v1 { background-color: #709fff !important; }
#article-list-row-3048548 > div > div.list-header.v2 { background-color: #709fff !important; }
#article-list-row-3048548 > div > div.list-time { background-color: #709fff !important; }
#article-list-row-3048548 > div > div.list-title { background-color: #bfdaff !important; }
