#article-list-row-6576683 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-6576683 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-6576683 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-6576683 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-6576683 > div > div.list-title > a { color: #131d27 !important; }
#article-list-row-6576683 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-6576683 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3105775 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-3105775 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-3105775 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-3105775 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-3105775 > div > div.list-title > a { color: #131d27 !important; }
#article-list-row-3105775 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3105775 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3105761 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-3105761 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-3105761 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-3105761 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-3105761 > div > div.list-title > a { color: #131d27 !important; }
#article-list-row-3105761 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3105761 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3054503 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-3054503 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-3054503 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-3054503 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-3054503 > div > div.list-title > a { color: #a0bcd8 !important; }
#article-list-row-3054503 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3054503 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-3048548 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-3048548 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-3048548 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-3048548 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-3048548 > div > div.list-title > a { color: #131d27 !important; }
#article-list-row-3048548 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-3048548 > div > div.list-header.v2 > strong { color: #ffffff !important; }

#article-list-row-7190272 > div > div.list-header.v0 { background-color: #131d27 !important; }
#article-list-row-7190272 > div > div.list-header.v1 { background-color: #131d27 !important; }
#article-list-row-7190272 > div > div.list-header.v2 { background-color: #131d27 !important; }
#article-list-row-7190272 > div > div.list-time { background-color: #131d27; color: #ffffff !important; }
#article-list-row-7190272 > div > div.list-title { background-color: #a0bcd8 !important; }
#article-list-row-7190272 > div > div.list-title > a { color: #131d27 !important; }
#article-list-row-7190272 > div > div.list-header.v0 > strong { color: #ffffff !important; }
#article-list-row-7190272 > div > div.list-header.v1 > strong { color: #ffffff !important; }
#article-list-row-7190272 > div > div.list-header.v2 > strong { color: #ffffff !important; }
