header .row > div:nth-child(1) > a { background-image: url(https://upload.tgd.kr/20180928/7f9d9f915f8c6f880f5015310f77d242.png); }
header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; height: 60px; }
header .row > div:nth-child(1) > a img { opacity: 0; }

.btn-outline-primary { display: none; }

#article-info>h2 {
    font-family: "FontAwesome";
}

body{
    font-family:'FontAwesome',sans-serif;
    font-size:15px;
}

#article-list #article-list-category { font-family: "FontAwesome"; }

#lastc {
    color: #0c0b0c;
}

html, body {
    background-color: #666362;
}

header #header-bar #header-menu-right {
    bottom: 2px;
}

header #header-bar #header-menu-left {
    bottom: 2px;
}

header #header-bar #header-top-notice {
    padding: 0.3em 0px;
}

header #header-bar a.dropdown-toggle {
    color: #fff;
}

header #header-bar #header-top-notice a {
    color: #fff;
}

header #header-bar>.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 5px solid  #0c0b0c;
    background: #3a3738;
    border-bottom: 5px solid  #0c0b0c;
    border-right: 5px solid  #0c0b0c;
    border-left: 5px solid  #0c0b0c;
    height: 47px;
    border-radius: 30px;
}

#board-info #viewers-area #viewers:before {
    content: "몽뭉단 ";
    color: #0c0b0c;
}

#board-info #viewers-area #viewers:after {
    content: "명";
}

#article-list #article-list-category>a, #article-list #article-list-category > a.active, #article-list #article-list-category>a:hover, i.fa.fa-home {
    background: rgba(255,255,255,0);
    color: #fff !important;
}

#article-list #article-list-category, #article-content-wrapper>.header {
    background: #0c0b0c;
    border-top: 2px solid #0c0b0c;
    color: #fff;
}

#article-option-area {
    border-bottom: 0px solid;
}

#board-info #board-info-bottom {
    margin: 15px 0 0 490px;
}

#main #main-content>div.frame {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#main .menu-wrapper>.header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: #0c0b0c;
}

#article-list #article-list-category, #article-content-wrapper>.header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#board-info h1 {
    position: absolute;
    margin: 11px 0 0 0px;
    border-bottom: 0;
}

#board-info {
    width: 100%;
    height: 64px;
    overflow: hidden;
    line-height: 1;
    margin: 0 0 1em;
    padding: 1em;
}

#main .menu-wrapper {
    border-right: 0px solid;
    border-bottom: 0px solid;
}

header #right-search-form>input[type=text] {
    border: 3px solid #0c0b0c;
}

header #right-search-form>#right-search-btn {
    color: #0c0b0c;
}

.btn.square {
    border: 0px solid;
}

span.a-badge i.fa.fa-info-circle {
    color: #0c0b0c;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #0c0b0c;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #0c0b0c;
}

#board-info #board-info-bottom a {
    color: #0c0b0c;
}

#board-info #viewers-area {
    color: #0c0b0c;
}

#main .menu-wrapper>a>em {
    color: #3a3738;    
}

#main .menu-wrapper>a>i.fa.fa-square{
    color: #3a3738;   
}

#board-info h1>a {
    color: #0c0b0c;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #0c0b0c;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: #0c0b0c;
}

.badge {
    background: #0c0b0c;
}

span.a-badge i.fa.fa-star {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: ROT360 2s ease-in-out infinite;
            animation: ROT360 2s ease-in-out infinite;
}

@-webkit-keyframes ROT360{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ROT360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0c0b0c;
    border-color: #0c0b0c;
}

.pagination>li>a, .pagination>li>span {
    color: #0c0b0c;
}

.btn-primary, .btn-primary:hover { animation: infinite page_W 1s; }

@keyframes page_W {
    0% { background-color: #0c0b0c; border-color: #0c0b0c; }
    100% { background-color: #0c0b0c; border-color: #0c0b0c; }
}

body > footer > div > span:nth-child(1) { color: #0c0b0c; }
body > footer > div > span:nth-child(1) > a:nth-child(2) { color: #0c0b0c; }
body > footer > div > span:nth-child(1) > a:nth-child(3) { color: #0c0b0c; }
body > footer > div > span:nth-child(1) > a:nth-child(4) { color: #0c0b0c; }
body > footer > div > span:nth-child(1) > a:nth-child(5) { color: #0c0b0c; }
body > footer > div > span:nth-child(4) { color: #0c0b0c; }
#switch-platform-link { color: #0c0b0c; }

#article-reply-area > .header h5 {
    color: #0c0b0c;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    margin-right: 16px;
}

#board-info #board-info-profile-img {
    float: left;
    position: absolute;
    width: 65px;
    height: 65px;
    left: 0;
    top: 0;
    margin: -141px 0 0px -20px;
    text-indent: -9999px;
    animation: swing ease-in-out 1s infinite alternate;
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}
