html, body {
    background: #adb3db;
}

header>#header-area>a>h1 { background-image: url(https://upload.tgd.kr/20180925/999015a1e3b88b8aafeb8a2b41f67930.png); }
header>#header-area>a>h1 { background-repeat: no-repeat; background-size: contain; }
header>#header-area>a>h1 img { opacity: 0; }

.badge {
    background-color: #5967c4;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #5967c4;
    border-color: #5967c4;
}

.pagination>li>a, .pagination>li>span {
    color: #5967c4;
}

header {
    background: #adb3db;
}

.btn-outline-primary{
    display: none;
}

#header-top-notice {
    background: #adb3db;
}

header>#header-area>#header-bar-link {
    color: #5967c4;
}

#board-info {
    background: #adb3db;
}

#board-info>h1>a {
    color: #5967c4;
}

#board-info>a.board-right-menu {
    color: #5967c4;
}

#board-info {
    border-top: 1px solid #5967c4;
    border-bottom: 1px solid #5967c4;
}

#board-info>a.board-right-menu {
    border-left: 1px solid #5967c4;
}

#article-list #article-list-category>a {
    background: #5967c4;
}

#article-list #article-list-category {
    background: #5967c4;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #5967c4;
    color: #e5ddd0;
}

#article-info {
    background: #5967c4;
}

#article-content-wrapper>.header {
    color: #5967c4;
}

footer {
    background: #5967c4;
    border-top-width: 4px;
    border-top: 4px solid #adb3db;
    color: #adb3db;
}

a:focus, a:hover {
    color: #adb3db;
}

.btn-primary {
    background: #5967c4;
}

.btn-primary:hover {
    background-color: #5967c4;
    border-color: #5967c4;
}

#board-info #viewers-area {
    color: #5967c4;
}

#board-info #viewers-area #viewers:before {
    content: "미치지 못한 달팽이들 ";
    color: #5967c4;
}

#board-info #viewers-area #viewers:after {
    content: "마리";
}

#article-info>h2 {
    color: #fff;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu, #article-reply-area #reply-best-area .reply>.reply-header>.reply-menu {
    color: #5967c4;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    color: #5967c4;
}

nav#nav {
    background: #adb3db;
}

nav#nav>#nav-upper>#header-close-bar-link {
    color: #5967c4;
}

span.a-badge i.fa.fa-star {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: ROT360 2s ease-in-out infinite;
            animation: ROT360 2s ease-in-out infinite;
}

@-webkit-keyframes ROT360{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ROT360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

nav#nav {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}

header>#header-area>#header-search-link {
    color: #adb3db;
}

header {
    border-bottom: 4px solid #5967c4;
}

#header-top-notice strong.notice-badge {
    background: #5967c4;
}

span.a-badge i.fa.fa-info-circle {
    color: #5967c4;
}

#article-reply-area > .header h5 {
    color: #5967c4;
}

#lastc {
    color: #5967c4;
}

span.a-badge i.fa.fa-home {
    color: #e5ddd0;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    color: #5967c4;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #5967c4;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    color: #5967c4;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #5967c4;
}

#article-list #article-list-category>a {
    color: #98a7b2;
    background: #5967c4;
}

nav#nav>.nav-header {
    background: #5967c4;
}

body > footer > div > span:nth-child(1) { color: #adb3db; }
body > footer > div > span:nth-child(1) > a:nth-child(2) { color: #adb3db; }
body > footer > div > span:nth-child(1) > a:nth-child(3) { color: #adb3db; }
body > footer > div > span:nth-child(1) > a:nth-child(4) { color: #adb3db; }
body > footer > div > span:nth-child(1) > a:nth-child(5) { color: #adb3db; }
body > footer > div > span:nth-child(4) { color: #adb3db; }
#switch-platform-link { color: #adb3db; }
