#article-list>.article-list-row>.item>.list-title>.list-category>span{
    color: #776A6F; !important
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #776A6F; !important
}

/* 뱃지 표시 부분 */
.badge-default {display:none}
.badge-success {display:none}

button, a {
    cursor: pointer;
}

/* 헤더 */
header { margin-bottom: 15px; min-width: 1100px; background: #776A6F;}
header #header-bar>.row { border-top-width: 0px; border-bottom-width: 0px; border-right-width: 0px; }
header #right-search-form { padding: 0.5em 0; }
header .row>div:nth-child(1)>a { background-repeat: no-repeat; display: block; height: 60px; }
header #header-bar #header-top-notice strong.notice-badge {display:none;}
header #header-bar a.dropdown-toggle { color: #fff; }
header #header-bar #header-top-notice { color: #fff; !important }
header #header-bar #header-top-notice a { color: #fff; !important }
header #header-bar a.dropdown-toggle { color: #fff; }
header #right-search-form>input[type=text] { border-color: #e8e6e4; }
header #header-bar>.row { background-color: rgba(0,0,0,0); padding-top: 0em; padding-bottom: 0em; border-top: 2px solid #e8e6e4; }
header #right-search-form>#right-search-btn { color: #e8e6e4; }
header #header-bar { margin-top: 3px; margin-bottom: -6px; }
header #header-bar #header-menu-left { border-right-width: 0px; }
header #header-bar #header-menu-right { border-left-width: 0px; }
.row { margin-right: -15px; margin-left: -15px; }
#main .menu-wrapper>.header { background: #776A6F; }
#main .menu-wrapper>a>em { color: #776A6F; }
#main .menu-wrapper>a>i.fa.fa-square { color: #776A6F; }

/*  폰트 */
#article-info>h2 {
    font-family: "FontAwesome";
    color: #e8e6e4; !important
}

#article-info #article-info-writer {
    color: #e8e6e4; !important
}

/* 헤더 로고 부분 */
header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; width: 139px; height: 50px; background-image: url("https://i.imgur.com/1QFlQrZ.png"); }
header .row > div:nth-child(1) > a img { opacity: 0; }

/* 폰트부분 */
@font-face { 
  font-family: 'GoyangIlsan'; 
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GoyangIlsan.woff') format('woff'); 
  font-weight: normal; 
  font-style: normal;
}

body,html{
height:auto !important;
font-family:'GoyangIlsan',sans-serif; FontAwesome;
font-size:15px;
}

/* 매쟁게시판 홈 */
#board-info h1>a:before {
    content: ' ';
    font-family: FontAwesome;
}
#board-info > h1 > a:after { color: #776A6F; content:"게시판 홈"; cursor : text; }

/* 페이지 부분 */
.pagination > li > a { color: #776A6F; !important; }
.pagination > li > span,
.pagination > li > a:hover,
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover 
{ background-color: #776A6F; border-color: #ffffff; color: #ffffff !important; }

/* 왼쪽 카테고리 부분 */
#article-list #article-list-category { font-family: "FontAwesome"; width: 875.5px; border-top: 3px; border-top-width: 0px; height: 40px; solid #776A6F; background: #776A6F; !important; }
#article-list #article-list-category > a { display: inline-block; padding: 11px 14px; background: #776A6F; color: #e8e6e4; text-decoration: none; font-size: 14px; font-weight: bold }
#article-list #article-list-category > a:hover { animation: infinite BlueFLinkBG 1.5s; }
#article-list #article-list-category > a.nav-link.active { border-top: 3px solid #776A6F; background: #776A6F; !important; }
#article-list>.article-list-row>.item>.list-title>.list-category {
    float: left;
    border-left: 1px solid #e2e2e2;
    border-right: 1px solid #e2e2e2;
    text-align: center;
    min-height: 16px;
    line-height: 16px;
    margin-right: 5px;
}
}
#article-content-wrapper > .item > .header > { background-color: #ffffff; !important; }
#article-reply-area > .header h5 { font-size: 14px; color: #776A6F; font-weight: bold; }

/* 버튼 부분 */
.btn-primary { background: #776A6F; border-color: #ffffff; }
.btn-primary:hover { animation: infinite DBLinkBG 3s; }

/* 키프레임 */
@keyframes StarLink {
    0% { color: #776A6F; }
    15% { color: #776A6F; }
    30% { color: #776A6F; }
    45% { color: #776A6F; }
    60% { color: #776A6F; }
    75% { color: #776A6F; }
    90% { color: #776A6F; }
    100% { color: #776A6F; }
}

@keyframes DBLinkBG {
    0% { background-color: #776A6F; }
    15% { background-color: #776A6F; }
    30% { background-color: #776A6F; }
    45% { background-color: #776A6F; }
    60% { background-color: #776A6F; }
    75% { background-color: #776A6F; }
    90% { background-color: #776A6F; }
    100% { background-color: #776A6F; }
}

@keyframes RaLinkBG {
    0% { background-color: #ff7c7c; }
    15% { background-color: #ffb97c; }
    30% { background-color: #ffdc7c; }
    45% { background-color: #d9ff7c; }
    60% { background-color: #9eff7c; }
    75% { background-color: #7cd3ff; }
    90% { background-color: #7c86ff; }
    100% { background-color: #b47cff; }
}

@keyframes BlueFLinkBG {
    0% { background-color: #776A6F; }
    40% { background-color: #776A6F; }
    100% { background-color: #776A6F; }
  
}
@keyframes maegether {
    0% { color: #ce7171; }
    40% { color: #ff6060; }
    100% { color: #ce7171; }
}

@keyframes AnimFeed {
    0% { background-color: #ffffff; }
    40% { background-color: #ffb5b5; }
    100% { background-color: #ffffff; }
}

@keyframes bingbing { from { transform: rotate(360deg);} to { transform: rotate(0deg);} }

@keyframes shakeLoop {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

@keyframes opacity {
  0% { background-color: #ffffff; color: #ffffff; }
  100% { background-color: #ffffff; color: #776A6F;  }
}

@keyframes slidein {
  0% { margin-left: 100%; width: 300% }
  100% { margin-left: 0%; width: 100%; }
}

/* 바닥 부분 */
body > footer { background-color: #776A6F; !important; }
body > footer > div > span:nth-child(1) { color: #fff; !important; }
body > footer > div > span:nth-child(1) > a:nth-child(2) { color: #fff; !important; }
body > footer > div > span:nth-child(1) > a:nth-child(3) { color: #fff; !important; }
body > footer > div > span:nth-child(1) > a:nth-child(4) { color: #fff; !important; }
body > footer > div > span:nth-child(1) > a:nth-child(5) { color: #fff; !important; }
body > footer > div > span:nth-child(4) { color: #fff; !important; }
#switch-platform-link { color: #fff; !important; }

/* 게시글 리스트 */
#article-list > .article-list-row > .item > .list-header.v0 > span:before { color: #ffffff; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v0 > span { background-color: #ffffff; color: #ffffff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v1 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v1 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v2 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v2 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v3 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v3 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v4 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v4 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v5 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v5 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v6 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v6 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v7 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v7 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v8 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v8 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header.v9 > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header.v9 > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-row > .item > .list-header > span:before { color: #776A6F; content:"★"; cursor : text; }
#article-list > .article-list-row > .item > .list-header > span { background-color: #ffffff; color: #776A6F; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 0px }
#article-list > .article-list-category > .item > .nav-link.active > i { color: #ffffff; !important; }
#article-list > .article-list-row > .item > .list-header > strong { color: #000000; !important; }
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span { color: #776A6F; }
#article-list > .article-list-row > .item > .list-time { color: #000000; }
#article-info { background-color: #776A6F; !important; }

#article-list > .article-list-row > .item > .list-title > small { color: #776A6F; !important }

/* 메인 콘텐츠 포인트 부분 */
#main-content > div > div.frame > h4 {
    background: #776A6F;
    color: #ffffff;
    border-top: 3px solid #776A6F;
    height: 35px;
    font-size: 20px;
    padding: 4px 15px;
}
#main-content > div > div.frame > div > div.col-xs-8 > h4:nth-child(1) { color: #776A6F; }
#main-content > div > div.frame > div > div.col-xs-8 > h4:nth-child(7) { color: #776A6F; }
#main-content > div > div.frame > div > div.col-xs-4 > h4 { color: #776A6F; }

/* 게시글 비추천 비활성화 */
#article-content-wrapper > div.vote-area > button.btn.btn-outline-primary.vote-btn {display:none;}
#article-content-wrapper {     
    padding-left: 0px;
    padding-right: 0px; 
    border-top-width: 0px; 
}
#article-list {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
#board-info {
    border-top: 3px solid #776A6F;
    background: #fff;
    overflow: inherit;
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 0px;
    margin-bottom: 3px;
    height: 26px;
}

/* 보드인포 */
#board-info h1, #board-info h1>a {
    padding: 1.4px;
    float: left;
    font-size: 12px;
    border: 0;
    color: #776A6F;
    padding-right: 4px;
}

#board-info #board-info-bottom {
    padding-top: 2px; !important;
}

#board-info #board-info-bottom #addFavoriteBtn {
    text-decoration: none;
    border-left: none !important;
    padding-left: 8px !important;
}
#board-info #board-info-bottom a {
    color: #776A6F;
    border: 0px;
}

/* 뷰어에리어 */
#board-info #viewers-area {
    line-height: 16px;
    color: #776A6F;
    font-size: 12px;
    position: absolute;
    right: 8px;
    opacity: 100;
}
#board-info #viewers-area {
    font-weight: normal;
    vertical-align: middle;
    display: inline-block;
}

/* 바닥부분 마진 */
body > footer {
    margin-top: 15px;
}

/* 게시글 보더 탑 */
#article-content-wrapper>.header {
    border-top: 2px solid #776A6F;
    color: #776A6F; !important;
}

/* 머니아이콘 */
.fa-money:before {
    content: "\f136";
}

span.a-badge i.fa.fa-info-circle {
    color: #776A6F;
    vertical-align: -2px !important;
    padding-left: 4px;
}

/* 게시글 확인 */
#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #cccccc !important;
}

/* 카테고리 관련 */
#article-list>.article-list-row>.item>.list-title>.list-category>span {
    display: block;
    letter-spacing: 0;
    text-overflow: clip;
    font-size: 90%;
    max-width: 85px;
    overflow: hidden;
    word-wrap: break-word;
    white-space: nowrap;
    height: 17px;
    width: 14px;
    line-height: 1.42857;
}

#article-list>.article-list-row>.item>.list-title>.list-category {
    font: normal normal normal 14px/1 FontAwesome;
}

/* 리플 아이콘 변경 */
.fa-commenting:before {
    content: "\f086";
}

/* 순위 */
#main-content > div > div.frame > table > thead > tr > th:nth-child(1) {
    background: #776A6F;
    color: #ffffff;
}

/* 닉네임 */
#main-content > div > div.frame > table > thead > tr > th:nth-child(2) {
    background: #776A6F;
    color: #ffffff;
}

/* 보유포인트 */
#main-content > div > div.frame > table > thead > tr > th:nth-child(3) {
    background: #776A6F;
    color: #ffffff;
}

/* 모든 순위/닉네임/보유포인트 가운데 정렬 */
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #ddd;
    text-align: center;
}

/* 프레임 */
.frame>.frame {
    padding: 0px 0em!important;
}

.frame>h3 {
    background: #776A6F;
    color: #ffffff;
    border-top: 3px solid #776A6F;
    height: 35px;
    font-size: 14px;
    padding: 9px 15px;
    margin-left: 0.07em;
    margin-right: 0.07em;
}

.frame>.frame>p {
    margin: 10px;
}

.frame>.pull-right>.btn-primary {
    color: #ffffff;
    background-color: #776A6F;
    border: 0;
    letter-spacing: .5px;
    font-family: "맑은 고딕";
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.frame>.pull-right {
    margin: 50px 13px;
}
.pull-right {
    float: right!important;
}
/* 응모 버튼 */
.frame>.pull-right>.btn-primary:hover {
    animation: shakeLoop 0.5s; 
    animation-iteration-count: infinite; 
}
/* 인원수 유저 아이콘변경 */
.fa-user:before {
    content: "\f0c0";
}

/* 이것은 삭게 체크박스 */
#article-list>.article-list-row>.item>.list-checkbox {
    width: 40px;
    background: #ff3f3f;
}

/* 이모티콘 흔들기 */
#article-reply-area #reply-real-area .reply > .reply-content img, #article-reply-area #reply-best-area .reply > .reply-content img, #article-reply-area #reply-real-area .reply > .reply-content iframe, #article-reply-area #reply-best-area .reply > .reply-content iframe, #article-reply-area #reply-real-area .reply > .reply-content embed, #article-reply-area #reply-best-area .reply > .reply-content embed, #article-reply-area #reply-real-area .reply > .reply-content object, #article-reply-area #reply-best-area .reply > .reply-content object {
    animation: shakeLoop 0.5s; 
    animation-iteration-count: infinite; 
}

/* 인원수 부분 */
#board-info #viewers-area #viewers:after { 
    color: #776A6F;; 
    content:"명 트게더 활동중!"; 
    cursor : text; 
    animation: opacity .5s;
    animation-delay: .2s;
    animation-fill-mode: both;
}
/* 인원수 위치조정 */
#board-info #viewers-area {
    line-height: 20px;
    color: #776A6F;
    font-size: 12px;
    position: absolute;
    right: 8px;
    animation: opacity .5s;
    animation-delay: .2s;
    animation-fill-mode: both;
}

/* 리플 빙글빙글 */
.reply-writer>.label-danger:before {
    content: "\f005";
    font: normal normal normal 12px/1 FontAwesome;
    animation: bingbing 2s infinite;
    display: inline-block;
}

/* 댓글 닉네임 부분 */
#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    font-weight: bold;
    color: #776A6F;
    cursor: pointer;
}

/* 카테고리 선택부분 아이콘 */
.form-control {
    font-family: FontAwesome;   
}

/* 게시글 리스트 보더조정 */
#article-list>.article-list-row>.item>.list-header {
    border-left-width: 0px;
}
/* 글쓰기버튼 마진조정 */
#article-list #article-list-menu>.btn.write {
    margin-right: 1em;
}
/* 인기글버튼 마진조정 */
#article-list #article-list-menu>.btn.best {
    margin-left: 1em;
}
/* 삭제버튼 마진조정 */
#article-list #article-list-menu>.btn.del {
    margin-left: -0.8em;
}
/* 알림조정 */
header #header-bar #header-menu-right #userDropdown #notification-badge {
    border-radius: 5px;
    padding: 3px 5px;
    background: #776A6F;
    padding-bottom: 0px;
    margin-bottom: 0.2em;
}

.fr-box.fr-basic .fr-element,#article-content {
    font-family: "FontAwesome";
}

/* 게시글리스트 커서댐 색상 설정 비활성화 */
#article-list>.article-list-row.notice:hover,#article-list>.article-list-row:hover {
   background: #ffffff;
}

#article-list>.article-list-row>.item>.list-title>.list-category {
    width: 24px;
    padding: 0px 0px 0px 10px;
    border-right: 0;
}

#article-list>.article-list-row>.item>.list-title>.list-writer {
    border-left: 0;
}

#board-info #board-info-profile-img {
    position: absolute;
    width: 85px;
    height: 85px;
    margin: -112px 0 0 -289px;
    border-radius: 50%;
    border: 5px solid #fff;
}

#main #main-content>div.frame {
    border: 0;
    border-radius: 15px;
}

html, body {
    background-color: #f7f2ed;
    height: auto;
}

#main .menu-wrapper a:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#main .menu-wrapper> a {
    color: #776A6F;
}
