@import url("https://maejaengtgd.github.io/CSS/highlight.css");
@import url("https://maejaengtgd.github.io/CSS/maejaengsbadge.css");

header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; width: 139px; height: 50px; background-image: url(https://maejaengtgd.github.io/image/MaeJaeng_TGD_LOGO_2.png); }
header .row > div:nth-child(1) > a img { opacity: 0; }

header #header-bar { margin-top: 0.2em; margin-bottom: 1em; padding-right: 30px; padding-left: 30px; }
header #right-search-form > #right-search-btn { color: #ff7070; background: transparent; border: none; font-size: 1.4em; }
header #right-search-form > input[type=text] { position: relative; border: 3px solid #ff7070; background: #fff; font-size: 1.1em; padding: 0.3em 0.5em; }

header #header-bar > .row { padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid #ff7070; background: #ffd3d3; border-bottom: 2px solid #ebeae8; border-right: 2px solid #ebeae8 }
header #header-bar #header-top-notice strong.notice-badge { background: #ff7070; padding: 4px 8px; color: #fff; font-weight: bold }

#main .menu-wrapper > .header { background: #ff7070; color: #fff; padding: 0.45em 1.4em 0.45em 1em; font-weight: bold }
#main .menu-wrapper > a > em { color: #ff9999;}


.pagination > li > a:hover { animation: infinite ScarletLinkBG 1.5s; }
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover 
{ background-color: #ff7070; border-color: #ff7070; }



#article-content-wrapper > .header { border-top: 3px solid #ff7070; background: #ffd3d3; }
#article-content-wrapper > .footer { border-bottom: 3px solid #ff7070; background: #ffd3d3; }
#article-list > .article-list-row > .item > .list-header > span { background-color: #ff7070; color: #fff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px }
#article-list #article-list-category { border-top: 3px solid #ff7070; background: #ff9999; }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: #ffd3d3; text-decoration: none; font-size: 12px; font-weight: bold }
#article-list #article-list-category > a:hover { animation: infinite ScarletLinkBG 1.5s; }

#article-reply-area #reply-real-area .reply > .reply-header { background: #ffd3d3; }
#article-reply-area > .header h5 { font-size: 14px; color: #ff7070; font-weight: bold; }

/* 현재 접속 인원 수 */
#board-info #viewers-area #viewers:before { content: "망자"; cursor: text; }
#board-info #viewers-area #viewers:after { content:"명 떠도는중..."; cursor : text; }

/* 접속 인원 표시 그림 */
#board-info #viewers-area .fa-user:before {
    color: rgba(10,59,84,0);
    content: url(https://maejaengtgd.github.io/image/ghost18.png)
}

/* 특정 뱃지 */
#board-info #viewers-area .fa-user:before { color: rgba(10, 59, 84, 0); content: var(--star-badge-url); }

/* 글쓰기 버튼 오버레이시 무지개 키프레임 애니메이션 */
.btn-primary { background: #ff7070; border-color: #ffffff; }
.btn-primary:hover { animation: infinite rainbowLinkBG 3s; }


/* 매게더 로고 */
#article-list > #article-list-row-4056100 > .item > .list-title > .list-writer > span img { opacity: 0; }
#article-list > #article-list-row-4056100 > .item > .list-title > .list-writer.logged { 
    background-repeat: no-repeat; 
    display: block; 
    height: 18px;
    background-image: url("https://maejaengtgd.github.io/image/MaeJaeng_TGD_LOGO_2.png");
    background-size: 18px 18px;
    background-position: 24px 0px;
    
#board-info { padding-top: 0; }
#board-info h1 { padding: 0; width: 780px; height: 100%; }
}


/* 애니메이션 키프레임들 */
@keyframes rainbowLink {
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; }
    100% { color: #e82aff; }
}

@keyframes rainbowLinkBG {
    0% { background-color: #ff2a2a; }
    15% { background-color: #ff7a2a; }
    30% { background-color: #ffc52a; }
    45% { background-color: #43ff2a; }
    60% { background-color: #2a89ff; }
    75% { background-color: #202082; }
    90% { background-color: #6b2aff; }
    100% { background-color: #e82aff; }
}

@keyframes ScarletLinkBG {
    0% { background-color: #ffd3d3; }
    40% { background-color: #ff9999; }
    100% { background-color: #ffd3d3; }
}

/* 게시글 리스트 블록 레이아웃 */
#article-list > .article-list-row has-category notice > .item > .list-header > strong { width: 0px; }
#article-list > .article-list-row.notice { background: #ffd3d3 !important; }
#article-list > .article-list-row.notice > .item > a.list-title { vertical-align: middle; }
#article-list > .article-list-row.notice > .item > a.list-title > .title-value { padding-left: 6px; }
#article-list > .article-list-row.notice > .item > a.list-title > .list-writer { height: 0px !important; opacity: 0; padding: 0px; }
#article-list > .article-list-row.notice > .item > .list-header { width:12px; }
#article-list > .article-list-row > .item > span.a-badge { width: 40px; }
#article-list > .article-list-row > .item > a.list-title > .title-value { max-width: 240px; }
#article-list > .article-list-row > .item > a.list-title > .list-writer.logged > span { color: #ff7070; }
#article-list > .article-list-row > .item > .list-header > span { background-color: #ff7070 !important; }
#article-list > .article-list-row > .item > .list-header > strong { font-size: 0px; padding: 0px; }

/* 일반 게시글 리스트 블록 */
#article-list #article-list-category { background: #ffd3d3; }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: #ffffff; text-decoration: none; font-size: 12px; font-weight: bold; }
#article-list #article-list-category > a:focus { background: #ff9999; }

#board-info { border-top: 4px solid #ff7070; background: #ff9999; max-height: 46px; max-block-size: 60px: }
#board-info > a.board-right-menu { max-height: 40px; border: 0px; vertical-align: middle; color: #cc0000; }

.btn-primary { border: 0px; animation: infinite rainbowLinkBG 3s; }

.pagination > .active > a, .pagination > .active > a:focus, 
.pagination > .active > a:hover, .pagination > .active > span, 
.pagination > .active > span:focus, .pagination > .active > span:hover { background-color: #ff7070; border-color: #ff7070; }
.pagination > li > a, .pagination > li > span:hover { color: #ff7070; }

