@import url("https://maejaengtgd.github.io/CSS/highlight.css");
@import url("https://maejaengtgd.github.io/CSS/maejaengsbadge.css");


header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; width: 139px; height: 50px; background-image: url(https://maejaengtgd.github.io/image/MaeJaeng_TGD_LOGO_2.png); }
header .row > div:nth-child(1) > a img { opacity: 0; }

header #header-bar { margin-top: 0.2em; margin-bottom: 1em; padding-right: 30px; padding-left: 30px; }
header #right-search-form > #right-search-btn { color: #ff7070; background: transparent; border: none; font-size: 1.4em; }
header #right-search-form > input[type=text] { position: relative; border: 3px solid #ff7070; background: #fff; font-size: 1.1em; padding: 0.3em 0.5em; }

header #header-bar > .row { padding-top: 0.3em; padding-bottom: 0.3em; border-top: 4px solid #ff7070; background: #d4eeff; border-bottom: 2px solid #ebeae8; border-right: 2px solid #ebeae8 }
header #header-bar #header-top-notice strong.notice-badge { background: #ff7070; padding: 4px 8px; color: #fff; font-weight: bold }

#main .menu-wrapper > .header { background: #ff7070; color: #fff; padding: 0.45em 1.4em 0.45em 1em; font-weight: bold }
#main .menu-wrapper > a > em { color: #99ccff;}

.pagination > li > a:hover { animation: infinite ScarletLinkBG 1.5s; }
.pagination > .active > a, 
.pagination > .active > a:focus, 
.pagination > .active > a:hover, 
.pagination > .active > span, 
.pagination > .active > span:focus, 
.pagination > .active > span:hover 
{ background-color: #ff7070; border-color: #ff7070; }

#article-content-wrapper > .header { border-top: 3px solid #ff7070; background: #d4eeff; }
#article-content-wrapper > .footer { border-bottom: 3px solid #ff7070; background: #d4eeff; }
#article-list > .article-list-row > .item > .list-header > span { background-color: #ff7070; color: #fff; font-weight: bold; padding: 1px 5px; font-size: 11px; border-radius: 100px }
#article-list #article-list-category { border-top: 3px solid #ff7070; background: #99ccff; }
#article-list #article-list-category > a { display: inline-block; padding: 11px 16px; background: #d4eeff; text-decoration: none; font-size: 12px; font-weight: bold }
#article-list #article-list-category > a:hover { animation: infinite ScarletLinkBG 1.5s; }

#article-reply-area #reply-real-area .reply > .reply-header { background: #d4eeff; }
#article-reply-area > .header h5 { font-size: 14px; color: #ff7070; font-weight: bold; }

#board-info #viewers-area #viewers:before { content: "망령"; cursor: text; }
#board-info #viewers-area #viewers:after { content:"명 모여있음"; cursor : text; }
#board-info #viewers-area .fa-user:before { color: rgba(10,59,84,0); content: url("https://maejaengtgd.github.io/image/ghost18.png"); }

.btn-primary { background: #ff7070; border-color: #ffffff; }
.btn-primary:hover { animation: infinite rainbowLinkBG 3s; }

/*
.btn-outline-success:hover {
    animation: infinite btnSizing 0.4s;
}
*/



#content-area, 
body, 
footer	
{ background: #ecf7ff !important; }


/* 매쟁 */
/*
#article-list > #article-list-row-3065840 > .item > .list-title > .list-writer > span img, 
#article-list > #article-list-row-2820544 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2391750 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2221544 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2162224 > .item > .list-title > .list-writer > span img,
#article-list > #article-list-row-2085705 > .item > .list-title > .list-writer > span img 
{ opacity: 0; }
#article-list > #article-list-row-3065840 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2820544 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2391750 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2221544 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2162224 > .item > .list-title > .list-writer.logged,
#article-list > #article-list-row-2085705 > .item > .list-title > .list-writer.logged
 { 
    background-repeat: no-repeat; 
    display: block; 
    height: 18px;
    background-image: url("https://ingether.github.io/TGD-CSS/Images/maejaeng18.png");
    background-position: 30px -2px;
}
*/

/* 3105761 매쟁이 컴퓨터사양*/
/* 3105775 트게더룰 */
/* 3054503 공지 */


/* 애니메이션 키프레임들 */
@keyframes rainbowLink {
    0% { color: #ff6060; }
    15% { color: #ff9999; }
    30% { color: #ff6060; }
    45% { color: #ff9999; }
    60% { color: #ff6060; }
    75% { color: #ff9999; }
    90% { color: #ff6060; }
    100% { color: #ff9999; }
}

@keyframes rainbowLinkBG {
    0% { background-color: #ff6060; }
    15% { background-color: #ff9999; }
    30% { background-color: #ff6060; }
    45% { background-color: #ff9999; }
    60% { background-color: #ff6060; }
    75% { background-color: #ff9999; }
    90% { background-color: #ff6060; }
    100% { background-color: #ff9999; }
}


@keyframes ScarletLinkBG {
    0% { background-color: #ffd3d3; }
    40% { background-color: #ff9999; }
    100% { background-color: #ffd3d3; }
}

@keyframes btnSizing {
    0% { width: 83px; }
    50% { width: 120px; }
    100% { width: 83px; }
}
