.badge-default {display:none}
.badge-success {display:none}
header { border-bottom: 3px solid #49bffc; background: #131d27;}
header>#header-area>#header-search-link { color: #ffffff; }
header>#header-area>a>h1 { background: url(https://blindeyeblitz.github.io/image/logo_TGD.png) no-repeat; background-size: contain; }
#board-info>a.board-right-menu { color: #ffffff; border: 0; }
#article-list #article-list-category, #article-list #article-list-category>a, #article-list #article-list-category > a.active, #article-list #article-list-category>a:hover { background: #131d27; font: normal normal normal 13px/1 FontAwesome; }
#board-info #viewers-area { animation: opacity .5s; color: #ffffff; background-color: #2d4053; padding: 0; margin: 3px 0 0 6px; border-radius: 10px; padding: 1.5px 6px 0px 6px; font-size: .8em; font-family: 'Roboto',sans-serif; font-weight: 400; float: right;}
#board-info #viewers-area:after { animation: opacity .5s; color: #ffffff; background-color: #2d4053; padding: 0; margin: 3px 0 0 6px; border-radius: 10px; padding: 1.5px 6px 0px 6px; font-size: .8em; font-family: 'Roboto',sans-serif; font-weight: 400; float: right;}
#header-top-notice { display: none; }

nav#nav { animation: slidein .5s cubic-bezier(.28,1.54,.55,.9); }
nav#nav>.nav-header { background: #2d4053; border-top: 3px solid #49bffc; }

@keyframes opacity {
  0% { background-color: #49bffc; color: #49bffc; }
  100% { background-color: #2d4053; color: #fff;  }
}


@keyframes slidein {
  0% { margin-left: 100%; width: 300% }
  100% { margin-left: 0%; width: 100%; }
}

a-user:before {
    content: "\f0c0";
}

#board-info #viewers-area #viewers:after { 
    content:"명 트게더 활동중!"; 
}

.form-control {
    font-family: FontAwesome;   
}

#board-info {
    background: #4abefb;
    border: 0;
}
