html, body {
    background: #D8CEF6;
}

header>#header-area>a>h1 { background-image: url(https://upload.tgd.kr/20180916/f778e062cd3c0c63c61e0aa4d24c90dc.png); }
header>#header-area>a>h1 { background-repeat: no-repeat; height: 32px; }
header>#header-area>a>h1 img { opacity: 0; }

.badge {
    background-color: #6441a5;
}

header {
    background: #D8CEF6;
}

.btn-outline-primary{
    display: none;
}

#header-top-notice {
    background: #D8CEF6;
}

header>#header-area>#header-bar-link {
    color: #6441a5;
}

#board-info {
    background: #D8CEF6;
}

#board-info>h1>a {
    color: #6441a5;
}

#board-info>a.board-right-menu {
    color: #6441a5;
}

#board-info {
    border-top: 1px solid #6441a5;
    border-bottom: 1px solid #6441a5;
}

#board-info>a.board-right-menu {
    border-left: 1px solid #6441a5;
}

#article-list #article-list-category>a {
    background: #6441a5;
}

#article-list #article-list-category {
    background: #6441a5;
}

#article-list #article-list-category > a.active, #article-list #article-list-category>a:hover {
    background: #6441a5;
}

#article-info {
    background: #6441a5;
}

#article-content-wrapper>.header {
    color: #6441a5;
}

footer {
    background: #6441a5;
    border-top-width: 4px;
    border-top: 4px solid #D8CEF6;
    color: #D8CEF6;
}

a:focus, a:hover {
    color: #D8CEF6;
}

.btn-primary {
    background: #6441a5;
}

.btn-primary:hover {
    background-color: #6441a5;
    border-color: #6441a5;
}

#board-info #viewers-area {
    color: #6441a5;
}

#board-info #viewers-area #viewers:before {
    content: "현재 ";
    color: #6441a5;
}

#board-info #viewers-area #viewers:after {
    content: "명의 티끌단 활동중";
}

#article-info>h2 {
    color: #fff;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu, #article-reply-area #reply-best-area .reply>.reply-header>.reply-menu {
    color: #6441a5;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    color: #6441a5;
}

nav#nav {
    background: #D8CEF6;
}

nav#nav>#nav-upper>#header-close-bar-link {
    color: #6441a5;
}

span.a-badge i.fa.fa-star {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: ROT360 2s ease-in-out infinite;
            animation: ROT360 2s ease-in-out infinite;
}

@-webkit-keyframes ROT360{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ROT360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

nav#nav {
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
