header .row > div:nth-child(1) > a { background-image: url(https://upload.tgd.kr/20181005/26efe9af5c17555f00a5cf5742550138.png); }
header .row > div:nth-child(1) > a { background-repeat: no-repeat; display: block; height: 60px; }
header .row > div:nth-child(1) > a img { opacity: 0; }

.btn-outline-primary { display: none; }

#article-info>h2 {
    font-family: "FontAwesome";
}

body{
    font-family:'FontAwesome',sans-serif;
    font-size:15px;
}

#article-list #article-list-category { font-family: "FontAwesome"; }

#lastc {
    color: #4a3a1e;
}

html, body {
    background: url(https://upload.tgd.kr/20181005/013677de5ebc506aa9be7a7ce9955ee6.png);
}

header #header-bar>.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 5px solid #4a3a1e;
    background: #fff;
    border-bottom: 5px solid #4a3a1e;
    border-right: 5px solid #4a3a1e;
    border-left: 5px solid #4a3a1e;
    height: 47px;
    border-radius: 0px;
    margin-top: -12px;
    margin-bottom: -6px;
}

header #header-bar #header-menu-left {
    bottom: 2px;
}

header #header-bar #header-menu-right {
    bottom: 2px;
}

header #header-bar #header-top-notice {
    padding: 0.3em 0px;
}

#board-info #viewers-area #viewers:before {
    content: "꿀벌 ";
    color: #4a3a1e;
}

#board-info #viewers-area #viewers:after {
    content: "마리 꿀 채취중~";
}

#article-list #article-list-category>a, #article-list #article-list-category > a.active, #article-list #article-list-category>a:hover, i.fa.fa-home {
    background: rgba(255,255,255,0);
    color: #fcc433 !important;
}

#article-list #article-list-category, #article-content-wrapper>.header {
    background: #4a3a1e;
    border-top: 2px solid #4a3a1e;
    color: #fff;
}

#board-info #board-info-profile-img {
    position: absolute;
    width: 85px;
    height: 85px;
    margin: -30px 0 0 -25px;
    border-radius: 50%;
    border: 5px solid #4a3a1e;
}

#article-option-area {
    border-bottom: 0px solid;
}

#board-info #board-info-bottom {
    margin: 15px 0 0 490px;
}

#board-info h1 {
    position: absolute;
    margin: 11px 0 0 65px;
    border-bottom: 0;
}

#board-info {
    width: 100%;
    height: 64px;
    overflow: hidden;
    line-height: 1;
    margin: 0 0 1em;
    padding: 1em;
}

#main .menu-wrapper {
    border-right: 0px solid;
    border-bottom: 0px solid;
}

#main .menu-wrapper>.header {
    background: #4a3a1e;
}

header #right-search-form>input[type=text] {
    border: 3px solid #4a3a1e;
}

header #right-search-form>#right-search-btn {
    color: #4a3a1e;
}

.btn.square {
    border: 0px solid;
}

#article-list {
    padding: 0em;
    margin-top: 19px;
}

#article-info, #board-info, #article-content-wrapper #article-content {
    animation-delay: .4s;
}

span.a-badge i.fa.fa-info-circle {
    color: #4a3a1e;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #4a3a1e;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #4a3a1e;
}

#board-info #board-info-bottom a {
    color: #4a3a1e;
}

#board-info #viewers-area {
    color: #4a3a1e;
}

#main #main-menu {
    padding: 0;
}

#main #main-content {
    padding-right: 0;
}

#main #main-content>div.frame {
    padding: 0;
}

#main #main-content>div.frame {
    border: 0px;
}

#main .menu-wrapper>a>em {
    color: #4a3a1e;
}

#main .menu-wrapper>a>i.fa.fa-square{
    color: #4a3a1e;
}

#board-info h1>a {
    color: #4a3a1e;
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #4a3a1e;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: #4a3a1e;
}

.badge {
    background: #4a3a1e;
}

span.a-badge i.fa.fa-star {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: ROT360 2s ease-in-out infinite;
            animation: ROT360 2s ease-in-out infinite;
}

@-webkit-keyframes ROT360{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ROT360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #4a3a1e;
    border-color: #4a3a1e;
}

#article-reply-area > .header h5 {
    color: #4a3a1e;
}

.pagination>li>a, .pagination>li>span {
    color: #4a3a1e;
}

#article-list #article-option-area {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}

#article-option-area-toggle-btn>.fa-eye:before {
    content: "";
    text-shadow: 0px 0px 6px #131d27, 1px 0px 2px #131d27, 0px 1px 2px #131d27, 1px 1px 2px #131d27, -1px 0px 2px #131d27, 0px -1px 2px #131d27, -1px -1px 2px #131d27;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
    background: rgba(255,255,255,0);
    color: rgba(255,255,255,.85);
    opacity: 1;
}

.btn-primary, .btn-primary:hover { animation: infinite page_W 1s; }

@keyframes page_W {
    0% { background-color: #4a3a1e; border-color: #4a3a1e; }
    100% { background-color: #4a3a1e; border-color: #4a3a1e; }
}

body > footer > div > span:nth-child(1) { color: #4a3a1e; }
body > footer > div > span:nth-child(1) > a:nth-child(2) { color: #4a3a1e; }
body > footer > div > span:nth-child(1) > a:nth-child(3) { color: #4a3a1e; }
body > footer > div > span:nth-child(1) > a:nth-child(4) { color: #4a3a1e; }
body > footer > div > span:nth-child(1) > a:nth-child(5) { color: #4a3a1e; }
body > footer > div > span:nth-child(4) { color: #4a3a1e; }
#switch-platform-link { color: #4a3a1e; }

#article-list>.article-list-row.notice {
    text-shadow: #2d4053 0px 0px 5px,#2d4053 0px 0px 5px,#2d4053 0px 0px 5px!important;
}

#article-list>.notice>.item>.list-time, #article-list>.notice>.item>.list-title>.list-writer.logged>span {
    color: #ffffff;
}

@keyframes color_rainbow_change {
    0% { color: #FA5858; }
    10% { color: #FAAC58; }
    20% { color: #F4FA58; }
    30% { color: #ACFA58; }
    40% { color: #58FA82; }
    50% { color: #58FAF4; }
    60% { color: #5882FA; }
    70% { color: #5858FA; }
    80% { color: #8258FA; }
    90% { color: #FA58D0; }
    100% { color: #FA5882; }	
}

/* 이 아래부터는 공지부분 */

#article-list-row-10245099>div>div.list-title>a {
    animation: color_rainbow_change 1s infinite alternate;  
}

#article-list>.article-list-row.notice {
    background-color: #4a3a1e;
}

#article-list-row-9012118, #article-list-row-9012118:hover {
    background-color: #b34f4f!important;
}

#article-list-row-7496282, #article-list-row-7496282:hover {
    background-image: url(http://puu.sh/Bf33Q/05f5898525.gif)!important;
    background-repeat: repeat-x!important;
    background-color: #040204!important;
}

#article-list-row-10926327, #article-list-row-10926327:hover {
    height: 80px;
    background-image: url(http://puu.sh/Brm0y/0497a793d4.png)!important;
    background-position: center!important;
}
