@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
html {
	background:linear-gradient(to bottom,#D1B2FF,#EDD9FF);
	transition:.3s ease 1s;
	height:auto!important
}
body {
	letter-spacing:-.05em!important;
	background:transparent;
	font-family:"Nanum Gothic",sans-serif
}
button,a.btn {
	transition:.2s ease 0s
}
header #right-search-form>input[type="text"] {
	color:#B966E6;
	border:1px solid #B966E6;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	padding-left:15px
}
#main .menu-wrapper {
	border-bottom-left-radius:15px
}
#main .menu-wrapper>.header {
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	background:#B966E6
}
#article-list #article-list-category > a {
        border-bottom: 3px solid;
}
#main .menu-wrapper a:nth-last-child(1) {
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px
}
#main .menu-wrapper div.spacer {
	background:#fff;
	border-top:2px dashed #EDD9FF;
	height:0
}
#main .menu-wrapper a.shortcut-link,#main .menu-wrapper a.useful-links,#main .menu-wrapper a.game {
	transition:.15s ease 0s
}
#main .menu-wrapper a.shortcut-link:hover,#main .menu-wrapper a.useful-links:hover,#main .menu-wrapper a.game:hover {
	background:#f5f5f5
}
#main #main-content>div.frame {
	background:none
}
#main #main-content>div.frame div#article-info {
	border-top-right-radius:20px;
	background:#fafafa;
	padding:20px 10px 10px 10px;
	margin-top:10px
}
#main #main-content>div.frame div#article-info .article-profile-img {
	top:20px;
	left:20px;
	width:50px;
	height:50px;
	border-radius:50%
}
#main #main-content>div.frame div#article-info h2,#main #main-content>div.frame div#article-info #article-info-writer {
	padding-left:80px
}
#main #main-content>div.frame div#article-content-wrapper {
	padding:0;
	background:#fff;
	border-bottom-left-radius:20px
}
#main #main-content>div.frame div#article-content-wrapper div.header {
	background:none;
	color:#999;
	border-top:2px dashed #eee
}
#main #main-content>div.frame div#article-content-wrapper div#article-content {
	padding:20px 10px
}
#main #main-content>div.frame div#article-content-wrapper div.footer {
	background:#fafafa;
	padding:10px 15px;
	border-top:2px dashed #eee;
	border-bottom-left-radius:20px
}
#main #main-content>div.frame div#article-reply-area {
	border-top-right-radius:20px;
	margin-top:10px;
	padding-bottom:10px;
	background:#fff
}
#main #main-content>div.frame div#article-reply-area .btn-primary {
	border:0;
	padding:7px 12px;
	font-size:15px
}
#main #main-content>div.frame div#article-reply-area #reply-real-area {
	background:#f5f5f5;
	padding:10px 10px
}
#main #main-content>div.frame div#article-reply-area #reply-real-area .reply {
	background:#fff;
	border:1px solid #e5e5e5;
	border-radius:25px;
	border-bottom-left-radius:0
}
#main #main-content>div.frame div#article-reply-area #reply-real-area .reply div.reply-header {
	background:none;
	padding:10px 20px 5px 10px;
	border-bottom:2px dashed #f5f5f5
}
#main #main-content>div.frame div#article-reply-area #reply-real-area .reply div.reply-header .reply-writer.logged {
	color:#B966E6
}
#main #main-content>div.frame div#article-reply-area #reply-real-area .reply div.reply-content {
	background:none;
	padding:10px 10px 20px 15px
}
#main #main-content>div.frame div#article-reply-area~div {
	background:#fff;
	border-bottom-left-radius:20px;
	margin-bottom:20px
}
#main #main-content>div.frame div#article-reply-area~div div div {
	margin:0!important;
	border-top:0!important
}
div#board-info {
	height:auto;
	margin-bottom:10px;
	background:#fff;
	border-top-left-radius:20px;
        border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px
}
div#board-info>img,div#board-info>h1,div#board-info>#board-info-bottom {
	float:left!important
}
div#board-info>img#board-info-profile-img {
	animation:ProfileImageRotate 1s ease 1s;
	animation-fill-mode:both;
	transform:rotate(15deg);
	width:90px;
	margin-right:20px;
	border-radius:50%;
	border:2px dashed rgba(209,178,255,.7)
}
div#board-info>h1 {
	margin-top:12px;
	width:calc(100% - 110px)
}
div#board-info>h1>a {
	font-size:15px;
	transition:.2s ease 0s
}
div#board-info>h1>a:hover {
	color:#B966E6
}
div#board-info>#board-info-bottom {
	margin-top:10px;
	width:calc(100% - 110px);
	color:#B966E6
}
div#article-list {
	background:#fff;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	padding:0
}
div#article-list div#article-list-category {
	border:0;
	padding:5px;
	background:none
}
div#article-list div.article-list-row {
	width:calc(100% - 10px);
	border:0 0;
	background:#fdfdfd;
	margin:4px 5px 0 5px;
	border-radius:15px;
	border:1px solid #eee;
	transition:.15s ease 0s
}
div#article-list div.article-list-row div.item div.list-header {
	border:0
}
div#article-list div.article-list-row .v0 span {
	background:#ccc!important
}
div#article-list div.article-list-row>div.item>.list-title {
	border-bottom:0
}
div#article-list div.article-list-row>div.item>.list-title>a:visited {
	color:#999!important
}
div#article-list div.article-list-row>div.item>.list-time {
	border-bottom:0
}
div#article-list div.article-list-row:hover {
	background:rgba(253,237,179,.33)
}
div#article-list div.article-list-row.notice {
	border:1px solid rgba(92,29,181,.1);
	background:rgba(92,29,181,.05)
}
div#article-list div.article-list-row.notice:hover {
	background:rgba(92,29,181,.1)
}
div#article-list #article-list-menu>.btn.best {
	border-radius:15px;
	background:#fcb19a;
	color:#fff
}
div#article-list #article-list-menu>.btn.write {
	border-radius:15px;
	background:#B966E6;
	color:#fff
}
div#article-list #article-list-menu .pagination>li>a {
	color:#B966E6;
	border-radius:50%;
	margin-left:5px
}
div#article-list #article-list-menu .pagination>li>a:hover {
	transition:.3s ease 0s;
	background:#fafafa
}
div#article-list #article-list-menu .pagination>li.active>a {
	color:#fff;
	font-weight:bold
}
div#article-list form.input-group input[type="text"] {
	padding:6px;
	height:34px!important;
	border:1px solid #ccc;
	border-left:0;
	border-right:0
}
div#article-list form.input-group .input-group-btn button {
	border:1px solid #ccc
}
div#article-list form.input-group .input-group-btn button:hover {
	transition:.3s ease 0s
}
div#article-list form.input-group .input-group-btn button.btn.square.btn-default.dropdown-toggle {
	padding-left:15px;
	padding-right:10px;
	border-top-left-radius:17px;
	border-bottom-left-radius:17px;
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
div#article-list form.input-group .input-group-btn button.btn.square.btn-default {
	padding-left:10px;
	padding-right:15px;
	border-top-right-radius:17px;
	border-bottom-right-radius:17px
}
.btn.square {
	font-size:14px
}
.fa-navicon:before,.fa-reorder:before,.fa-bars:before {
	color:white
}
.fa-square:before {
	color:#ffcd69
}
header #header-bar>.row,#main .menu-wrapper,#main #main-content>div.frame {
	border-right:none;
	border-bottom:none
}
#main .menu-wrapper {
	border:0
}
header #header-bar>.row,#main .menu-wrapper,#main #main-content>div.frame {
	box-shadow:0 0 0 rgba(0,0,0,.2)
}
header #header-bar>.row {
	border:0;
	border-radius:5px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	padding:6px
}
header #header-bar>.row button {
	color:#EDD9FF
}
header .row>div:nth-child(1)>a {
	display:block;
	width:145px;
	height:50px;
	background:url(https://cdn.discordapp.com/attachments/346301724417327106/510007178220929024/f4121448c61fee37.png)no-repeat;
	background-size:auto 50px
}
header .row>div:nth-child(1)>a>img {
	display:none;
	filter:grayscale(100%);
	opacity:0.8
}
header #right-search-form>#right-search-btn {
	color:#D1B2FF
}
header #header-bar #header-top-notice strong.notice-badge {
	background:#B966E6
}
header #header-bar .fa {
	color:#B966E6
}
#board-info #board-info-bottom a {
	color:#B966E6
}
#main .menu-wrapper>a>em {
	color:#B966E6
}
#main .menu-wrapper .spacer {
	background:#d1b6e1;
	height:.15em
}
#article-list>.article-list-row>.item>.list-title>.list-writer>span {
	width:120px!important
}
#article-list #article-list-category {
	border-top:2px solid #B966E6;
	background:white
}
#article-list #article-list-category>a {
	background:white
}
#article-list>.article-list-row>.item>.list-header>span {
	background-color:#B966E6
}
#article-list>.article-list-row>.item>.list-title>small.comment-count {
	color:#B966E6
}
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
	color:#B966E6
}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover {
	background-color:#B966E6;
	border-color:#D1B2FF
}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover {
	color:#D1B2FF
}
.pagination>li>a,.pagination>li>span {
	color:#D1B2FF
}
#article-content-wrapper>.header {
	border-top:2px solid #D1B2FF
}
#article-reply-area#reply-real-area.reply>.reply-header>.reply-writer.logged,#article-reply-area#reply-best-area.reply>.reply-header>.reply-writer.logged {
	color:#D1B2FF
}
#article-info>h2 {
	font-weight:bold
}
#article-info>h2>span.category {
	color:#B966E6!important
}
#article-reply-area>.header h5 {
	color:#B966E6
}
#main .menu-wrapper>a {
	padding:.5em 1.4em .5em .7em!important
}
a {
	color:#B966E6
}
span.a-badge i.fa.fa-info-circle {
	color:#B966E6
}
#article-list>.article-list-row {
	border-right:none
}
#article-list #article-list-menu {
	box-sizing:border-box;
	width:unset;
	margin:20px
}
#article-list #boardSearchForm {
	padding-bottom:20px;
	height:unset
}
.btn-primary {
	background:#B966E6!important
}
@keyframes ProfileImageRotate {
	0% {
		transform:rotate(15deg)
	}
	70% {
		transform:rotate(-5deg)
	}
	100% {
		transform: rotate(0)
	}
}
