header .row>div:nth-child(1)>a {
    float: left;
    position: absolute;
    background: url(https://upload.tgd.kr/20181120/f9e35836e2de6890727e74f8565d9173.png) no-repeat;
    background-size: cover;
    display: block;
    width: 150px;
    height: 55px;
}

header .row > div:nth-child(1) > a img { opacity: 0; }

.btn-outline-primary { display: none; }

#article-info>h2 {
    font-family: "FontAwesome";
}

body{
    font-family:'FontAwesome',sans-serif;
    font-size:15px;
}

#article-list #article-list-category { font-family: "FontAwesome"; }

#lastc {
    color: #6441a5;
}

html,body { background-color: #D8CEF6; }

body {
    background-image: url(https://i.imgur.com/c4OfFnf.png);
    background-repeat: no-repeat;
    background-position: center -5px;
}
    
header #header-bar>.row {
    border-top: 5px solid #6441a5;
    border-radius: 15px;
    border-bottom: 0px solid;
    border-right: 0px solid;
}

#board-info #viewers-area #viewers:before {
    content: "현재 ";
    color: #6441a5;
}

#board-info #viewers-area #viewers:after {
    content: "명의 티끌단 활동중";
}

#article-list #article-list-category > a {
    border-bottom: 3px solid;
}

#article-list #article-list-category>a, #article-list #article-list-category > a.active, #article-list #article-list-category>a:hover, i.fa.fa-home {
    background: rgba(255,255,255,0);
    color: #fff !important;
}

#article-list #article-list-category, #article-content-wrapper>.header {
    background: #6441a5;
    border-top: 2px solid #6441a5;
    color: #fff;
}

#board-info #board-info-profile-img {
    position: absolute;
    width: 85px;
    height: 85px;
    margin: -160px 0 0 -292px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: bounce 5s ease-in-out infinite;
    animation: bounce 5s ease-in-out infinite;
}

@keyframes bounce { 
    0% {transform: translateY(-5px);}
    25% {transform: translateY(5px);}
    50% {transform: translateY(-5px);}
    75% {transform: translateY(5px);}
    100% {transform: translateY(-5px);}
} 

#article-option-area {
    border-bottom: 0px solid;
}

#board-info #board-info-bottom {
    margin: 15px 0 0 490px;
}

#board-info h1 {
    position: absolute;
    margin: 11px 0 0 0px;
    border-bottom: 0;
}

#board-info {
    border-bottom: 5px solid #6441a5;
    width: 100%;
    height: 64px;
    overflow: hidden;
    line-height: 1;
    margin: 0 0 1em;
    padding: 1em;
}

#main .menu-wrapper {
    border-right: 0px solid;
    border-bottom: 0px solid;
}

#main .menu-wrapper>.header {
    background: #6441a5;
}

header #right-search-form>input[type=text] {
    border: 3px solid #6441a5;
}

header #right-search-form>#right-search-btn {
    color: #6441a5;
}

.btn.square {
    border: 0px solid;
}

span.a-badge i.fa.fa-info-circle {
    color: #6441a5;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #6441a5;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #6441a5;
}

#board-info #board-info-bottom a {
    color: #6441a5;
}

#board-info #viewers-area {
    color: #6441a5;
}

#main .menu-wrapper>a>em {
    color: #c3b5dc;    
}

#board-info h1>a {
    color: #6441a5;
}

#article-list>.article-list-row>.item>.list-header>span {
    background: #6441a5;
}

span.a-badge i.fa.fa-star {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-animation: ROT360 2s ease-in-out infinite;
            animation: ROT360 2s ease-in-out infinite;
}

@-webkit-keyframes ROT360{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ROT360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #6441a5;
    border-color: #6441a5;
}

.pagination>li>a, .pagination>li>span {
    color: #6441a5;
}

.btn-primary, .btn-primary:hover { animation: infinite page_W 1s; }

@keyframes page_W {
    0% { background-color: #6441a5; border-color: #6441a5; }
    100% { background-color: #6441a5; border-color: #6441a5; }
}

body > footer > div > span:nth-child(1) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(2) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(3) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(4) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(5) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(6) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(7) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(8) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(9) { color: #6441a5; }
body > footer > div > span:nth-child(1) > a:nth-child(10) { color: #6441a5; }
body > footer > div > span:nth-child(4) { color: #6441a5; }
#switch-platform-link { color: #6441a5; }

#article-reply-area #reply-best-area .reply {
    border: 1px solid #6441a5;
}

#article-reply-area #reply-best-area div.reply-content {
    background: #f0eaff;
}

.label-danger {
    background-color: #6441a5;
}

#viewers-area .fa-user {
    float: left;
    position: absolute;
    background: url(https://i.imgur.com/UIYRk7W.png) no-repeat;
    background-size: cover;
    width: 475px;
    height: 50px;
    left: 0;
    top: 0;
    margin: -160px 0 0 92px;
    text-indent: -9999px;
}

#board-info h1>a.badge.badge-live{font-size:0px;padding:2px 20px;}
#board-info h1>a.badge.badge-live:after{font-size:12px;content:'오린이야 생방송 중';}

.col-xs-10>.frame>#board-info>h1>.badge{display: none;}
#board-info > h1 > .badge-success{display:none;}
#article-reply-area #reply-best-area div.reply-content{background:#f1eaff;}

#article-info>#article-info-writer{font-size:0;}
#article-info>#article-info-writer>strong{font-size:12px;}
#article-info>#article-info-writer>small{font-size:11px;padding:0 .5em;}

header #header-bar #header-menu-left, header #header-bar #header-menu-right{border: 0px;}

header #header-bar #header-top-notice strong.notice-badge{display:none;}

#board-info h1,#board-info h1>a{
float: left;
font-size: 25px;
border: 0;
color: #6441a5;
padding-right: 5px;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span>img,
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged>img,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged>img,
#article-info #article-info-writer>img{display:none;}

#article-list>.article-list-row.hot{background-color:#f4eaff;}
#article-list>.article-list-row.hot>.item>.list-header>strong,
#article-list>.article-list-row.hot>.item>.list-header>b{color:#8a3acb;}

#article-list {
padding: 0em;
margin-top: 19px;
}

#article-list>.article-list-row.notice {
background-color: #f4eaff;
}

#article-list #article-option-area>#article-option-area-toggle-btn {
background: rgba(255,255,255,0);
color: rgba(255,255,255,.85);
opacity: 1;
}

#article-option-area-toggle-btn>.fa-eye:before {
content: "";
text-shadow: 0px 0px 6px #131d27, 1px 0px 2px #131d27, 0px 1px 2px #131d27, 1px 1px 2px #131d27, -1px 0px 2px #131d27, 0px -1px 2px #131d27, -1px -1px 2px #131d27;
}
